<div class="d-flex flex-column align-items-center">
  <strong style="font-size: 18px; margin: 10px auto"><%= t('students.all-students') %></strong>
  <table class="table table-striped w-10 table-hover" style="width: 55rem;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('form.name') %></th>
      <th scope="col"><%= t('form.surname') %></th>
      <th scope="col"><%= t('form.edit') %></th>
      <th scope="col"><%= t('form.delete') %></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td class="link-style-edit">
          <%= button_to 'Edit', edit_student_path(student), :method => :get, :class => "btn btn-primary" %>
        </td>
        <td class="link-style-delete">
          <%= button_to 'Delete', student_path(student), :method => :delete, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <button type="button" class="btn btn-success link-style-create" style="margin-top: 50px">
    <%= link_to 'Create student', "/student/new" %>
  </button>
</div>
